annotated-types==0.7.0 ; python_version >= "3.13" and python_version < "3.15"
anyio==4.12.0 ; python_version >= "3.13" and python_version < "3.15"
click==8.3.1 ; python_version >= "3.13" and python_version < "3.15"
colorama==0.4.6 ; python_version >= "3.13" and python_version < "3.15" and (platform_system == "Windows" or sys_platform == "win32")
dawg2-python==0.9.0 ; python_version >= "3.13" and python_version < "3.15"
fastapi==0.115.14 ; python_version >= "3.13" and python_version < "3.15"
h11==0.16.0 ; python_version >= "3.13" and python_version < "3.15"
httptools==0.7.1 ; python_version >= "3.13" and python_version < "3.15"
idna==3.11 ; python_version >= "3.13" and python_version < "3.15"
joblib==1.5.2 ; python_version >= "3.13" and python_version < "3.15"
nltk==3.9.2 ; python_version >= "3.13" and python_version < "3.15"
numpy==2.2.6 ; python_version >= "3.13" and python_version < "3.15"
pandas==2.2.3 ; python_version >= "3.13" and python_version < "3.15"
pydantic-core==2.41.5 ; python_version >= "3.13" and python_version < "3.15"
pydantic-settings==2.12.0 ; python_version >= "3.13" and python_version < "3.15"
pydantic==2.12.5 ; python_version >= "3.13" and python_version < "3.15"
pymorphy3-dicts-ru==2.4.417150.4580142 ; python_version >= "3.13" and python_version < "3.15"
pymorphy3==2.0.6 ; python_version >= "3.13" and python_version < "3.15"
python-dateutil==2.9.0.post0 ; python_version >= "3.13" and python_version < "3.15"
python-dotenv==1.2.1 ; python_version >= "3.13" and python_version < "3.15"
python-multipart==0.0.20 ; python_version >= "3.13" and python_version < "3.15"
pytz==2025.2 ; python_version >= "3.13" and python_version < "3.15"
pyyaml==6.0.3 ; python_version >= "3.13" and python_version < "3.15"
regex==2025.11.3 ; python_version >= "3.13" and python_version < "3.15"
scikit-learn==1.7.2 ; python_version >= "3.13" and python_version < "3.15"
scipy==1.16.3 ; python_version >= "3.13" and python_version < "3.15"
setuptools==80.9.0 ; python_version >= "3.13" and python_version < "3.15"
six==1.17.0 ; python_version >= "3.13" and python_version < "3.15"
starlette==0.46.2 ; python_version >= "3.13" and python_version < "3.15"
threadpoolctl==3.6.0 ; python_version >= "3.13" and python_version < "3.15"
tqdm==4.67.1 ; python_version >= "3.13" and python_version < "3.15"
typing-extensions==4.15.0 ; python_version >= "3.13" and python_version < "3.15"
typing-inspection==0.4.2 ; python_version >= "3.13" and python_version < "3.15"
tzdata==2025.2 ; python_version >= "3.13" and python_version < "3.15"
uvicorn==0.35.0 ; python_version >= "3.13" and python_version < "3.15"
uvloop==0.22.1 ; python_version >= "3.13" and python_version < "3.15" and sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
watchfiles==1.1.1 ; python_version >= "3.13" and python_version < "3.15"
websockets==15.0.1 ; python_version >= "3.13" and python_version < "3.15"
